.loading {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:1000;
}

.loading::after {
  content:"로딩중..";
}

body {
  margin:0 auto;
  width:1920px;
}

@media ( min-width:1800px ) {
  body {
    overflow-x: hidden;
  }
}

/* 라이브러리 */
.top {
  margin-bottom: 100px;
}

/* 커스텀 top*/
.con{
  max-width:1920px;
}

.co {
  left: 1085px;
  top: 210px;
}

.co>video {
  width: 365px;
  height: 720px;
}

.mo1 {
  width: 1000px;
  height: 1000px;
  top: -260px;
  left: -160px;
}

.mo1>img {
  width: 680px;
}

.mo2 {
  width: 1000px;
  height: 1000px;
  top: -145px;
  left: -160px;
}

.mo2>img {
  width: 680px;
}

/* 커스텀 contents */
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-1 {
  height: 2000px;
  width: 2000px;
  background-image: url(https://ifh.cc/g/SJZJIh.jpg);
  background-position: 0 center;
  animation-name: mymove;
  animation-duration: 4000s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes mymove {
  0% {
    background-position: 0 center;
  }

  100% {
    background-position: -80000% center;
  }
}

.icon {
  margin-top: 80px;
}

.tx-1 {
  top: 185px;
  left: 100px;
}

.tx-2 {
  top: 320px;
  left: 100px;
}

.text1 {
  position: absolute;
  top: 300px;
  left: 110px;
}

.text2 {
  position: absolute;
  top: 260px;
  left: 110px;
}

.text3 {
  position: absolute;
  top: 420px;
  left: 110px;
}

.text4 {
  position: absolute;
  top: 435px;
  left: 110px;
}
